<strong>Recuperando senha</strong>
<p>Uma solicitação de email foi feita para {{email}}</p>
<p>Para trocar a senha utilize o token abaixo {{token}} ou clique no link abaixo
  <a href ="{{ link }}">Clique aqui</a><p>
