<strong>Olá {{ username }},beleza?</strong>
<P>Você se increveu na Meetup <strong>{{ title }}</strong></p>
<p>{{ description }}</p>
<P>A  Meetup <strong>{{ title }}</strong> será realizada no endereço
<strong>{{ place }}
na data <strong>{{event_date}}</strong> e conta com a capacidade
de {{ numLimitSubscriptions }} inscritos.

<p>clique <a href ="{{ link }}">aqui</a> para acessar a Meetup.
<strong>Parabéns , você e 1 dos {{ numLimitSubscriptions }} inscritos :)!!</strong>

Att,
OnMeetups

