
Olá <strong> {{ username }},beleza?</strong>
<P>Você se increveu na Meetup <strong>{{ title }}</strong></p>
<P>A  Meetup  <a href ="#"><strong>{{ title }}</strong></a> será realizada em<br>
{{ place }} <br>na data {{event_date}} e conta com a capacidade
de {{ numLimitSubscriptions }} inscritos.<br>


<strong>Parabéns , você e 1 dos {{ numLimitSubscriptions }} inscritos :)!!</strong><br>
<br>
<br>
Att,<br>
OnMeetups

